#logo a {
  text-decoration: none;
}
#logo a:hover {
  text-decoration-color: #ddd;
}
h1 {
  font-family: sans-serif;
  color: black;
  text-transform: lowercase;
  margin: 0;
  letter-spacing: -.035em;
  font-size: 255%;
}
h1 u {
  display: none
}
h1 i {
  font-style: normal;
  font-weight: normal;
}
